Source: nvmetcli
Section: python
Priority: optional
Maintainer: Christoph Hellwig <hch@lst.de>
Build-Depends: debhelper(>= 8), python, python-setuptools, dh-python
Standards-Version: 3.9.4

Package: nvmetcli
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-configshell-fb, python-kmodpy
Description: Command line interface for the kernel NVMe target
 This package contains the command line interface to the NVMe over Fabrics
 target in the Linux kernel.  It allows configuring the target interactively
 as well as saving / restoring the configuration to / from a json file.
