#!/usr/bin/make -f

build_dir   = build
install_dir = $(CURDIR)/debian/nvmetcli

# prevent internet access / don't use PyPi
export http_proxy = http://127.0.0.1:9


%:
	dh $@ --with python2

override_dh_auto_build:
	python setup.py build

override_dh_auto_install:
	python setup.py install --root=$(install_dir) --install-layout=deb

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
